*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__
MANIFEST

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# gdb core dump
core

# sphinx
doc/_build/

# pycharm
.idea

.vagrant/
.virtualenv/
.virtualenv3/
.venv/
.venv3/
venv/
venv*/

.DS_Store

# VSCode
.vscode/

# DLL
snap7.dll
