name: Test on macOS with brew
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  osx_wheel:
    strategy:
      matrix:
        python-version: [ "3.10", "3.11", "3.12", "3.13", "3.14" ]
        runs-on: ["macos-14", "macos-15"]

    runs-on: ${{ matrix.runs-on }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install snap7
        run: brew install --overwrite snap7 python@${{ matrix.python-version }}
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
      - name: Install python-snap7
        run: |
          uv venv --python python${{ matrix.python-version }}
          uv pip install -e ".[test]"
      - name: Run pytest
        run: |
          uv run pytest -m "server or util or client or mainloop"
          sudo uv run pytest -m partner
